<div class="modal fade" id="SignupPopup" tabindex="-1" role="dialog" aria-labelledby="SignupPopupLabel" aria-hidden="true">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="card card-raised card-form-horizontal">
        <div class="card-body">   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
       <!--    <form type="POST" action="https://hooks.zapier.com/hooks/catch/5207658/oydy5g9/" id="emailsignup"> -->
  
        <div class="row">
            <div class="col-sm-12 ">
               
                <h2 class="title text-center mb-4">Free Download&nbsp;&nbsp;<fa-icon class="text-primary IconFix" [icon]="faDownload"></fa-icon></h2>
        
              </div> </div>
              <hr class="m-0">
            <div class="row">
                <div class="col-lg-7 pr-lg-5  text-lg-left text-center" >
                
                  <br>
                      <p class="description mt-4">
                    
                        <b>Free Meditation for Relaxation</b>
                        <br /><br />
                        I love spoiling my subscribers!
                        <br /><br />
                        Want me to keep you posted on brand new yoga and wellness weekend retreat dates? 
                        <br /><br />
                        Sign up for early bird news of my events and receive my free audio meditation.
                      </p>  <br />
                    </div>
                  
              
                  <div class="col-lg-5 p-lg-4 ">
                
  
                      <form class="mr-4 ml-4" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                          <div class="form-group bmd-form-group has-primary ">
                            <label for="firstName" class="bmd-label-floating">Your name</label>
                            <input type="text"  required class="form-control" id="firstName" formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                              <div *ngIf="f.firstName.errors.required">Your name is required</div>
                          </div>
                          </div>
                          <div class="form-group bmd-form-group has-primary ">
                            <label for="email"  class="bmd-label-floating  ">Email address</label>
                            <input type="email" required class="form-control" formControlName="email" id="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                              <div *ngIf="f.email.errors.required">Email is required</div>
                              <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                          </div>
                          </div>
               <br /> 
                 
                          <div class="submit text-center">
                                   <input id="contactusbutton" type="submit" class="btn btn-primary btn-block btn-round" value="YES PLEASE!">
                          </div>
                        </form>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
            </div>
          <!-- </form> -->
        </div>
      </div>
    </div>

   
    </div>
  </div>
</div>


