.contact-content {
    padding-bottom: 40px;
    padding-top   : 40px;
  }
  
  .info-horizontal .icon {
    margin-top: 29px;
  }
  
  .info {
    padding  : 10px 0 15px;
    max-width: 495px;
    text-align: left!important;
  }
  
  .info-noclour a {
    color: #999999!important;
  }
  
  .description sub {
    color: #999999!important;
  }
